In [1]:
import pandas as pd
from sklearn.metrics import mean_absolute_error


url ="https://raw.githubusercontent.com/albercol/TFG/main/Fase2/Fase%202.3/DatosUnificados/Cont_Meteo_Traf.csv"
df = pd.read_csv(url,parse_dates=['FECHAH'])
df = df.dropna()
df["hora"] = df['FECHAH'].dt.hour

valores = df.TIPO.unique()
for v in valores:
    df[v] = df.TIPO.apply(lambda x: 1 if x==v else 0)
df.head()

,FECHAH,TIPO,CO,NO,NO2,PM2.5,PM10,NOx,O3,VELOCIDAD VIENTO,...,PRESION BAROMETRICA,PRECIPITACIONES,ES10,ES53,ESSUMA,hora,LABORABLE,SABADO,DOMINGO,FESTIVO
5035,2019-08-01 00:00:00,LABORABLE,0.2,4.0,22.0,10.0,19.0,29.0,58.87,1.84,...,943.0,0.0,223.0,347.0,570.0,0,1,0,0,0
5036,2019-08-01 01:00:00,LABORABLE,0.2,2.0,15.0,10.0,21.0,18.0,63.73,1.97,...,943.0,0.0,173.0,231.0,404.0,1,1,0,0,0
5037,2019-08-01 02:00:00,LABORABLE,0.1,4.0,14.0,9.0,18.0,19.0,66.50,1.72,...,943.0,0.0,107.0,180.0,287.0,2,1,0,0,0
5038,2019-08-01 03:00:00,LABORABLE,0.1,1.0,14.0,10.0,18.0,15.0,66.62,1.55,...,943.0,0.0,80.0,129.0,209.0,3,1,0,0,0
5039,2019-08-01 04:00:00,LABORABLE,0.2,2.0,15.0,10.0,19.0,18.0,62.57,1.13,...,943.0,0.0,89.0,105.0,194.0,4,1,0,0,0

# Método Naïve CO

In [6]:
"""
Con este metodo se intenta predecir con la hora anterior.
"""
#Añadimos una columna pred con el desplazamiento (la hora anterior) en este caso para NO2 (No deberiamos predecir algo peor en el model de RandomForest)
df["pred"] = df.CO.shift(+1)
mae = mean_absolute_error(df[1:].CO, df[1:].pred)
print("El mae con el modelo naïve para el CO: ", mae)
df = df.drop(columns=['pred'])

El mae con el modelo naïve para el CO:  0.05758977149075081

# Método Naïve NO2

In [7]:
"""
Con este metodo se intenta predecir con la hora anterior.
"""
#Añadimos una columna pred con el desplazamiento (la hora anterior) en este caso para NO2 (No deberiamos predecir algo peor en el model de RandomForest)
df["pred"] = df.NO2.shift(+1)
mae = mean_absolute_error(df[1:].NO2, df[1:].pred)
print("El mae con el modelo naïve para el NO2: ", mae)
df = df.drop(columns=['pred'])

El mae con el modelo naïve para el NO2:  8.55195865070729

# Método Naïve PM2.5

In [16]:
"""
Con este metodo se intenta predecir con la hora anterior.
"""
df = df.rename(index=str, columns={"PM2.5": "PM25"})
#Añadimos una columna pred con el desplazamiento (la hora anterior) en este caso para NO2 (No deberiamos predecir algo peor en el model de RandomForest)
df["pred"] = df.PM25.shift(+1)
mae = mean_absolute_error(df[1:].PM25, df[1:].pred)
print("El mae con el modelo naïve para el PM2.5: ", mae)
df = df.drop(columns=['pred'])

El mae con el modelo naïve para el PM2.5:  3.0541349292709468

# Método Naïve PM10

In [18]:
"""
Con este metodo se intenta predecir con la hora anterior.
"""
#Añadimos una columna pred con el desplazamiento (la hora anterior) en este caso para NO2 (No deberiamos predecir algo peor en el model de RandomForest)
df["pred"] = df.PM10.shift(+1)
mae = mean_absolute_error(df[1:].PM10, df[1:].pred)
print("El mae con el modelo naïve para el PM10: ", mae)
df = df.drop(columns=['pred'])

El mae con el modelo naïve para el PM10:  3.7832562568008705

# Método Naïve O3

In [19]:
"""
Con este metodo se intenta predecir con la hora anterior.
"""
#Añadimos una columna pred con el desplazamiento (la hora anterior) en este caso para NO2 (No deberiamos predecir algo peor en el model de RandomForest)
df["pred"] = df.O3.shift(+1)
mae = mean_absolute_error(df[1:].O3, df[1:].pred)
print("El mae con el modelo naïve para el O3: ", mae)
df = df.drop(columns=['pred'])

El mae con el modelo naïve para el O3:  6.857748231773666